@model IEnumerable<ToDoList.Models.ToDoTask>

@{
    ViewData["Title"] = "ToDoListTabel";
}

<h1>ToDoListTabel</h1>

<p>
    <a asp-action="CreateToDoTask">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeadLine)
                </td>
                <td>
                    <a asp-action="DeleteTask" asp-route-id="@item.TaskId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
